img {
	border-radius: 5px;
	width: 40%;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa';
	background: linear-gradient(19deg,#65d4d4,#d5ffff,#65d4d4);
	font-size: 16px;
} 
h2 {
	font-size: 1.9em;
	text-align: center;
	text-shadow: 
		0em .1em .1em white, 
		0em .1em .1em #d65630;
	opacity: .8;
	clear: both;
}
#opisanie {
	padding: 1em .5em;
}
#golova {
	background: linear-gradient(45deg, #d65630,#f3998a,#c18370); 
	padding: 1em 1em .5em;
}
#menu {
	float: right;
}
#menu a {
	color: #fff; 
	font-size: 1.6em; 
	line-height: 84px; 
	text-decoration: none;
	transition: all .3s ease;
}
#menu a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 1px black;
}
#content {
	background: #fff;
	width: 60%;
	margin: 0 auto;
	box-shadow: 0 0 10px #333;
} 
ul {
	padding: 6em 6em 0;
}
ol {
	min-width: 250px;
	max-width: 400px;
	margin: 0 auto;
}
ul li, 
ol li {
	font-size: 20px; 
	margin: .5em 0;
}
.imageright {
	float: right;
	max-width: 300px;	
}
.imageleft {
	max-width: 300px;
	float: left;
}
form {
	max-width: 300px;
	padding: 1em;
	border-radius: 5px;
	margin: 0 auto 2em;
	text-align: center;
	border: 2px solid #ce988e;
}
form h3 {
	color: #333;
	margin: 0;
	line-height: 25px;
	font-size: 1.2em;
}
input {
	width: 100%;
	margin: 10px 0;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
button[type="submit"] {
	background: #ce988e;
	border: none;
	color: #fff;
	font-family: 'Comfortaa';
	border-radius: .5em;
	padding: .5em 1em;
	font-size: 1em;
	cursor: pointer;
}
footer {
	background-color: #deb8b1; 
	text-align: center; 
	font-size: 1.2em; 
	padding: 1.2em 0;
}
#logotip {
	padding: 5px 2px 0;
	width: 300px;
	float: left;
}
#logotip img {
	filter: drop-shadow(1px 1px 2px);
	width: 100%;
}
.menu-right {
	float: right;
	padding-right: 6em;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
center > img {
	margin: 1em;
}
.result-pic {
	border-radius: 2px;
	box-shadow: 
		2px 2px 2px 0px, 
		-1px -1px 2px 2px #d65630;
}
.product {
	max-width: 200px;
	margin: 3em;
}
@media screen and (max-width: 1200px) {
	#content {
		width: 96%;
	}
}
@media screen and (max-width: 900px) {
	body {
		font-size: 12px;
	}
}
@media screen and (max-width: 640px) {
	body {
		font-size: 10px;
	}
	#logotip {
		float: none;
		margin: 0 auto;
	}
	#menu {
		float: none;
		text-align: center;
	}
	#menu a {
		line-height: 30px;
	}
	ul {
		padding: 2em 5em 0 2em;
	}
	ul li,
	ol li {
		font-size: 14px;
	}
	.menu-right {
		padding-right: .5em;
	}
	.result-pic {
		width: 90% !important;
	}
	ol {
		width: 200px;
	}
}
